body {
    text-align: center;
}

#numInput {
    padding: 27px;
    margin: 15px;
    font-size: 25px;
    width: 5em;
    border-radius: 20%;
}

button {
    font-size: 25px;
    padding: 20px;
    border-radius: 30%;
}

button:hover {
    background-color: grey;
    color: white;
}